openapi: 3.2.0
info:
  contact:
    email: support@sigma360.com
    name: Sigma Customer Success Team
  description: '### API Concepts

    This API is designed to help you interact and integrate with Sigma360.'
  title: Sigma360 Utilities API
  version: v2.0.1
  x-logo:
    altText: Sigma360
    href: https://sigma360.com
    url: logo.png
servers:
- url: https://api.sigma360.com/external/v2
security:
- apiKey: []
tags:
- description: General utilities
  name: Utilities
paths:
  /utils/send-webhook-test":
    get:
      description: This endpoint causes a webhook message to be delivered to your configured webhook target. It will be delivered from the same network and with the same options as real webhooks. This operation is asynchronous; it will return a 200 when it queues the test event, even if the webhook then fails or if no webhook is configured on your account. Tests will not be retried.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWebhookTestEndpointResponse'
          description: OK
        '400':
          content:
            text/plain:
              schema:
                type: string
          description: Bad Request
        '401':
          content:
            text/plain:
              schema:
                type: string
          description: Unauthorized
        '429':
          content:
            text/plain:
              schema:
                type: string
          description: Too Many Requests
        '500':
          content:
            text/plain:
              schema:
                type: string
          description: Internal Server Error
      security:
      - apiKey: []
      summary: Perform a test delivery of your webhook connection
      tags:
      - Utilities
      operationId: getUtilsSendWebhookTest"
      x-operation-id-source: derived
components:
  schemas:
    ResponseWebhookTestEndpointResponse:
      properties:
        message:
          description: Status message. Use the response code to determine success or failure.
          example: Test webhook message sent successfully
          type: string
        orgID:
          description: The ID of the organization that owns the webhook.
          example: my-company
          type: string
      type: object
  securitySchemes:
    apiKey:
      description: API Key
      in: header
      name: Authorization
      type: apiKey
externalDocs:
  description: Sigma360 Product Information
  url: https://sigma360.com
