openapi: 3.2.0
info:
  contact:
    email: support@sigma360.com
    name: Sigma Customer Success Team
  description: '### API Concepts

    This API is designed to help you interact and integrate with Sigma360.'
  title: Sigma360 Informational API
  version: v2.0.1
  x-logo:
    altText: Sigma360
    href: https://sigma360.com
    url: logo.png
servers:
- url: https://api.sigma360.com/external/v2
security:
- apiKey: []
tags:
- description: Informational endpoints
  name: Informational
paths:
  /info/sources:
    get:
      description: This endpoint will return a list of all generally-available sources in the Sigma platform, and the last time they were updated. ReportDataSources matches what is available in the UI, under the 'Reports' tab.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SigmaidDataSourcesResponse'
          description: OK
        '400':
          content:
            text/plain:
              schema:
                type: string
          description: Bad Request
        '401':
          content:
            text/plain:
              schema:
                type: string
          description: Unauthorized
        '429':
          content:
            text/plain:
              schema:
                type: string
          description: Too Many Requests
        '500':
          content:
            text/plain:
              schema:
                type: string
          description: Internal Server Error
      security:
      - apiKey: []
      summary: Get update times for all sources
      tags:
      - Informational
      operationId: getInfoSources
      x-operation-id-source: derived
components:
  schemas:
    SigmaidIntegrationInfo:
      properties:
        firstIngestedDate:
          format: date-time
          type: string
        key:
          type: string
        lastRunDate:
          format: date-time
          type: string
      type: object
    SigmaidDataSourcesResponse:
      properties:
        rawDataSources:
          additionalProperties:
            $ref: '#/components/schemas/SigmaidIntegrationInfo'
          nullable: true
          type: object
        reportDataSources:
          additionalProperties:
            $ref: '#/components/schemas/SigmaidIntegrationLastUpdated'
          nullable: true
          type: object
        reportDataSourcesBuckets:
          additionalProperties:
            items:
              type: string
            type: array
          nullable: true
          type: object
      type: object
    SigmaidIntegrationLastUpdated:
      properties:
        lastUpdated:
          format: date-time
          type: string
      type: object
  securitySchemes:
    apiKey:
      description: API Key
      in: header
      name: Authorization
      type: apiKey
externalDocs:
  description: Sigma360 Product Information
  url: https://sigma360.com
