openapi: 3.2.0
info:
  contact:
    email: support@sigma360.com
    name: Sigma Customer Success Team
  description: '### API Concepts

    This API is designed to help you interact and integrate with Sigma360.'
  title: Sigma360 Account API
  version: v2.0.1
  x-logo:
    altText: Sigma360
    href: https://sigma360.com
    url: logo.png
servers:
- url: https://api.sigma360.com/external/v2
security:
- apiKey: []
tags:
- description: Account management
  name: Account
paths:
  /account/status:
    get:
      description: This endpoint is used to check the organization-wide metadata for your Sigma360 account.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponsesAccountStatus'
          description: OK
        '400':
          content:
            text/plain:
              schema:
                type: string
          description: Bad Request
        '401':
          content:
            text/plain:
              schema:
                type: string
          description: Unauthorized
        '429':
          content:
            text/plain:
              schema:
                type: string
          description: Too Many Requests
        '500':
          content:
            text/plain:
              schema:
                type: string
          description: Internal Server Error
      security:
      - apiKey: []
      summary: Retrieve account status
      tags:
      - Account
      operationId: getAccountStatus
      x-operation-id-source: derived
components:
  schemas:
    AuthResponsesAccountStatus:
      properties:
        apiKey:
          example: bea8252ff4e80f41719ea13cdf007273
          type: string
        createdAt:
          format: date-time
          type: string
        expiresAt:
          format: date-time
          nullable: true
          type: string
        organizationName:
          example: ACME Inc.
          type: string
        remainingCalls:
          description: Remaining lifetime API calls allowed (Test keys)
          type: integer
        testKey:
          example: false
          type: boolean
      type: object
  securitySchemes:
    apiKey:
      description: API Key
      in: header
      name: Authorization
      type: apiKey
externalDocs:
  description: Sigma360 Product Information
  url: https://sigma360.com
